{{ define "main" }}
<main>
  <div class="container">
    <h1>Latest</h1>
    <div class="card-container">
      {{ range $section, $taxonomy := .Site.Sections }}
        {{ range $taxonomy.Pages }}
            <a href="{{ .Permalink }}" class="index-card-link">
              <div class="index-card">
                <img src="{{.Params.image | absURL}}"/>
                <div class="card-body">
                  <h3>{{ .Title }}</h3><p>{{.Description}}</p> 
                </div>
              </div>
            </a>
        {{ end }}
      {{ end }}
    </div>
    </main>
  </div>
{{ end }}
