{{ partial "head.html" . }}
<body>
  <header>
    <a href="/"
      ><img
        src="/images/back-arrow.svg"
        alt="back arrow"
        class="header-back-arrow"
    /></a>
    <a href="/">
      <img
        src="/images/mg_logo.jpg"
        class="header-logo"
        alt="monero guides logo"
      />
    </a>
  </header>
  <nav class="mobile-menu">
    <ul>
      <li><a href="/tutorials">Tutorials</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</body>
